@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", serif;
  padding: 20px;
  background-color: hsl(226, 43%, 10%);
  color: white;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: hsl(235, 46%, 20%);
}

header img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.img-wrap {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
}

.profile-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  padding: 20px;
  background-color: hsl(246, 80%, 60%);
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
}

.nav {
  height: 30%;
  padding: 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 130vh;
  width: 100%;
  background-color: transparent;
}

.main__item {
  width: 100%;
  height: 15%;
  border-radius: 10px;
}

.first-div img {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.first-div {
  height: 30%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.second-div {
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  height: 70%;
  background-color: hsl(235, 46%, 20%);
  padding: 20px;
}

.sub-div {
  display: flex;
  justify-content: space-between;
}

.sub-div img {
  width: 21px;
  height: 5px;
}

.time-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.current {
  font-size: clamp(1.2rem, 2rem, 2.1rem);
}

.previous {
  color: hsl(236, 100%, 87%);
  font-size: clamp(0.8rem, 1rem, 1.3rem);
}

/* Individual background colors for the main items */
.work {
  background-color: hsl(15, 100%, 70%);
}

.play {
  background-color: hsl(195, 74%, 62%);
}

.study {
  background-color: hsl(348, 100%, 68%);
}

.exercise {
  background-color: hsl(145, 58%, 55%);
}

.social {
  background-color: hsl(264, 64%, 52%);
}

.selfCare {
  background-color: hsl(43, 84%, 65%);
}

/* ---------- */

/* Tablets */

@media screen and (min-width: 700px) {
  body {
    padding: 20px;
    grid-template-rows: 200px 200px;
  }
}

/* Bigger than regular phones styles*/

@media screen and (min-width: 450px) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 250px 250px;
    gap: 20px;
  }

  header {
    grid-row: 1 / 3;
    height: 100%;
  }

  .profile-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-details {
    height: 50%;
  }

  .nav ul {
    flex-direction: column;
    height: 80%;
  }

  .userName {
    font-size: 2.5rem;
  }

  main {
    display: grid;
    grid-row: 1 / 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin: 0;
    height: 100%;
    padding: 0;
  }

  .main__item {
    height: 100%;
  }

  .time-div {
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;
  }
}

/* LARGE LAPTOPS AND DESKTOPS */
@media screen and (min-width: 1000px) {
  body {
    padding: 100px 50px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* LARGER LAPTOPS  */

@media screen and (min-width: 1200px) {
  body {
    padding: 100px 200px;
  }
}
